[submodule "airflow_vs_runhouse/airflow_pipeline/pyconde2019-airflow-ml-workshop"]
	path = airflow_vs_runhouse/airflow_pipeline/pyconde2019-airflow-ml-workshop
	url = https://github.com/deliveryhero/pyconde2019-airflow-ml-workshop.git
